.banner {
  &--c {
    &--principal,
    &--beneficios,
    &--app,
    &--rede {
      height: 100vh;
      position: relative;
      overflow: hidden;
      scroll-snap-align: center;
    }

    &--beneficios:nth-child(1),
    &--app {
      @extend %selection-secondary-theme;
    }

    &--principal {
      background-color: $color-c-primary-dark;

      &__content {
        display: grid;
        gap: 2rem 0;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        padding: 2rem 4rem;
        position: absolute;
        width: 100%;
        z-index: 1;

        &__logo {
          animation: 2s appear forwards;
          display: block;
          grid-column: 1 / span 2;
          grid-row: 1/2;
          margin: 0 auto;
        }

        &__ilustracao {
          align-items: center;
          animation: 2s slide-to-right forwards;
          display: flex;
          flex-direction: column;
          grid-column: 1/2;
          grid-row: 2/2;
          height: 32rem;
          justify-content: center;
          object-fit: contain;
          width: 100%;
        }

        &__texts {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          grid-column: 2/2;
          grid-row: 2/2;
          justify-content: center;
          max-width: 40rem;

          & > .heading--c--primary {
            animation: 2s slide-to-bottom forwards;
            opacity: 0;
          }

          & > .heading--c--secondary {
            animation: 0.5s appear forwards;
            animation-delay: 1.5s;
            opacity: 0;
          }
        }
      }

      &__figure {
        position: absolute;
        z-index: 0;

        &--azul {
          top: 5%;
          right: -10%;
        }

        &--branca {
          top: 15%;
          left: 20%;
        }

        &--laranja {
          left: -10%;
          bottom: -10%;
        }
      }
    }

    &--beneficios {
      &:nth-child(even) &__content {
        flex-direction: row-reverse;
      }

      &:nth-child(1) {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      }

      &__container {
        background-color: $color-c-primary-dark;
      }

      &__content {
        align-items: center;
        display: flex;
        gap: 8rem;
        height: 100%;
        justify-content: center;
        padding: 2rem 4rem;
        position: absolute;
        width: 100%;
        z-index: 2;

        &__cartao {
          border-radius: 1rem;
          box-shadow: 0 0.25rem 1rem 0.25rem rgba($color-black, 0.32);
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }

        &__texts {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          max-width: 40rem;
        }

        & ul {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          padding-left: 2rem;

          & > li {
            color: $color-white;
            font-size: 1.25rem;
            font-weight: 500;
          }
        }
      }

      &--azul {
        background-color: $color-c-primary-dark;
      }

      &--laranja {
        background-color: $color-c-secondary;
      }

      &:nth-child(odd) &__figure {
        display: none;
      }
      &__figure {
        position: absolute;

        &--azul {
          left: 5%;
          top: 5%;
        }

        &--branca {
          left: 40%;
          top: 50%;
        }

        &--laranja {
          right: 5%;
          top: 10%;
        }
      }
    }

    &--app {
      background-color: $color-c-secondary;

      &__content {
        align-items: center;
        display: flex;
        gap: 8rem;
        height: 100%;
        justify-content: center;
        padding: 2rem 0;

        &__left {
          &__ilustracao {
            transform: rotate(10deg);
            width: 24rem;
          }
        }

        &__right {
          display: flex;
          flex-direction: column;
          gap: 4rem;

          &__texts {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 34rem;
            text-align: justify;
          }

          &__buttons {
            display: flex;
            gap: 2rem;
          }
        }
      }
    }

    &--rede {
      background-color: $color-c-primary-dark;

      &__content {
        align-items: center;
        display: flex;
        gap: 2rem 8rem;
        height: 100%;
        justify-content: center;
        padding: 2rem 4rem;
        position: absolute;
        width: 100%;
        z-index: 1;

        &__ilustracao {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 32rem;
          justify-content: center;
          object-fit: contain;
        }

        &__texts {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          justify-content: center;
          max-width: 32rem;

          & > h2 {
            text-align: justify;
          }
        }

        &__button {
          & button {
            margin-top: 4rem;
            padding: 1rem 4rem;
          }
        }
      }

      &__figure {
        position: absolute;
        z-index: 0;

        &--azul {
          top: 5%;
          right: -10%;
        }

        &--branca {
          top: 15%;
          left: 20%;
        }

        &--laranja {
          left: -10%;
          bottom: -10%;
        }
      }
    }
  }

  &--b {
    &--principal {
      background-color: $color-b-primary;
      height: 100vh;
      overflow: hidden;
      padding: 4rem;
      position: relative;
      scroll-snap-align: center;

      &__logo {
        align-items: center;
        display: flex;
        justify-content: center;
      }

      &__content {
        align-items: center;
        display: flex;
        gap: 12rem;
        justify-content: center;
        padding-top: 12rem;

        &__texts {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          max-width: 28rem;
        }

        &__ilustracao {
          border-radius: 50%;
          height: 24rem;
          object-fit: cover;
          outline: 0.125rem solid $color-white;
          outline-offset: 1.5rem;
          width: 24rem;
        }
      }

      &__figure {
        border: 0.125rem solid $color-white;
        border-radius: 50%;
        position: absolute;
        height: 68rem;
        left: -5%;
        bottom: -25%;
        width: 68rem;
      }
    }

    &--conta-digital {
      align-items: center;
      background-color: $color-b-primary;
      display: flex;
      height: 100vh;
      justify-content: center;
      overflow: hidden;
      padding: 4rem;
      position: relative;
      scroll-snap-align: center;

      &__content {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 8rem;

        &__ilustracao {
          border-radius: 50%;
          height: 24rem;
          width: 24rem;
          outline: 0.125rem solid $color-white;
          outline-offset: 1.5rem;
        }

        &__texts {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          max-width: 28rem;
        }

        &__button {
          margin-top: 4rem;
        }
      }
    }
  }
}
