@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$font-primary: "Lato", sans-serif;

$color-b-primary: #1CBCD9;
$color-b-soft-dark: #00ADD4;
$color-b-soft-light: #70C7DE;
$color-b-hard-dark: #21244D;
$color-b-hard-light: #2B2B69;
$color-b-light: #DBE8F2;

$color-c-secondary: #F47F39;
$color-c-primary-dark: #132048;
$color-c-primary-light: #457CBE;

$color-white: #F2F2F2;
$color-black: #1A1A1A;

$color-gray-50: #f7f7f7;
$color-gray-100: #f0f0f0;
$color-gray-200: #e3e3e3;
$color-gray-300: #d1d1d1;
$color-gray-400: #bdbdbd;
$color-gray-500: #aaaaaa;
$color-gray-600: #969696;
$color-gray-700: #818181;
$color-gray-800: #6a6a6a;
$color-gray-900: #585858;
$color-gray-950: #333333;