@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slide-to-bottom {
  0% {
    opacity: 0;
    margin-top: -12rem; }
  100% {
    opacity: 1;
    margin-top: 0; } }

@keyframes slide-to-right {
  0% {
    opacity: 0;
    margin-left: -16rem; }
  100% {
    opacity: 1;
    margin-left: 0; } }

@keyframes button-pulse {
  0% {
    box-shadow: 0 0 0 1.25rem rgba(242, 242, 242, 0.32); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

html {
  scroll-behavior: smooth; }

html ::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem; }

html ::-webkit-scrollbar-thumb {
  background: #132048;
  border-radius: 3.5rem; }

html ::-webkit-scrollbar-track {
  background-color: #f7f7f7; }

::selection {
  background-color: #f47f39;
  color: #f2f2f2;
  font-weight: 700; }

:root {
  background-color: #f2f2f2;
  color: #1a1a1a;
  font-size: 100%;
  font-synthesis: none;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  text-rendering: optimizeLegibility; }

.heading--c--primary {
  color: #f2f2f2;
  font-size: 3.5rem;
  font-weight: 700; }
  @media only screen and (min-width: 1920px) {
    .heading--c--primary {
      font-size: 4rem; } }
  @media only screen and (min-width: 1600px) and (max-width: 1920px) {
    .heading--c--primary {
      font-size: 3.75rem; } }
  @media only screen and (max-width: 1280px) {
    .heading--c--primary {
      font-size: 3rem; } }
  @media only screen and (max-width: 768px) {
    .heading--c--primary {
      font-size: 2rem; } }

.heading--c--secondary {
  color: #f2f2f2;
  font-size: 1.25rem;
  font-weight: 500; }
  @media only screen and (min-width: 1920px) {
    .heading--c--secondary {
      font-size: 1.75rem; } }
  @media only screen and (min-width: 1600px) and (max-width: 1920px) {
    .heading--c--secondary {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 768px) {
    .heading--c--secondary {
      font-size: 1rem; } }

.heading--c--tertiary {
  font-size: 1.25rem;
  font-weight: 700; }
  @media only screen and (max-width: 768px) {
    .heading--c--tertiary {
      font-size: 1.125rem; } }
  @media only screen and (max-width: 480px) {
    .heading--c--tertiary {
      font-size: 1rem; } }

.heading--c--quaternary {
  color: #132048;
  font-size: 1.125rem;
  font-weight: 800; }
  @media only screen and (max-width: 480px) {
    .heading--c--quaternary {
      font-size: 1rem; } }

.heading--b--primary {
  color: #f2f2f2;
  font-size: 3.5rem;
  font-weight: 700; }
  .heading--b--primary > span {
    font-weight: 400; }
  @media only screen and (min-width: 1920px) {
    .heading--b--primary {
      font-size: 4rem; } }
  @media only screen and (min-width: 1600px) and (max-width: 1920px) {
    .heading--b--primary {
      font-size: 3.75rem; } }
  @media only screen and (max-width: 1280px) {
    .heading--b--primary {
      font-size: 3rem; } }
  @media only screen and (max-width: 768px) {
    .heading--b--primary {
      font-size: 2rem; } }

.heading--b--secondary {
  color: #f2f2f2;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem; }
  @media only screen and (min-width: 1920px) {
    .heading--b--secondary {
      font-size: 1.75rem; } }
  @media only screen and (min-width: 1600px) and (max-width: 1920px) {
    .heading--b--secondary {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 480px) {
    .heading--b--secondary {
      font-size: 1rem; } }

.heading--b--quaternary {
  color: #1cbcd9;
  font-size: 1.125rem;
  font-weight: 800; }

.text--cinza {
  color: #969696; }

.link {
  behavior: smooth;
  color: #969696;
  text-decoration: none; }
  .link:hover {
    text-decoration: underline; }

.banner--c--beneficios:nth-child(1) ::selection, .banner--c--app ::selection {
  background-color: #132048; }

.banner--c--principal, .banner--c--beneficios, .banner--c--app, .banner--c--rede {
  height: 100vh;
  position: relative;
  overflow: hidden;
  scroll-snap-align: center; }

.banner--c--principal {
  background-color: #132048; }
  .banner--c--principal__content {
    display: grid;
    gap: 2rem 0;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    padding: 2rem;
    position: absolute;
    width: 100%;
    z-index: 1; }
    @media only screen and (max-width: 768px) {
      .banner--c--principal__content {
        gap: 1rem 0;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto; } }
    .banner--c--principal__content__logo {
      animation: 2s appear forwards;
      display: block;
      grid-column: 1 / span 2;
      grid-row: 1/2;
      margin: 0 auto; }
    .banner--c--principal__content__ilustracao {
      align-items: center;
      animation: 2s slide-to-right forwards;
      display: flex;
      flex-direction: column;
      grid-column: 1/2;
      grid-row: 2/2;
      height: 32rem;
      justify-content: center;
      object-fit: contain;
      width: 100%; }
      @media only screen and (max-width: 768px) {
        .banner--c--principal__content__ilustracao {
          place-self: center;
          height: auto;
          margin-top: 6rem;
          width: 50%; } }
    .banner--c--principal__content__texts {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      grid-column: 2/2;
      grid-row: 2/2;
      justify-content: center;
      max-width: 40rem; }
      @media only screen and (max-width: 768px) {
        .banner--c--principal__content__texts {
          grid-column: 1/1;
          grid-row: 3/3;
          text-align: center;
          max-width: 100%;
          width: 100%; } }
      .banner--c--principal__content__texts > .heading--c--primary {
        animation: 2s slide-to-bottom forwards;
        opacity: 0; }
      .banner--c--principal__content__texts > .heading--c--secondary {
        animation: 0.5s appear forwards;
        animation-delay: 1.5s;
        opacity: 0; }
  .banner--c--principal__figure {
    position: absolute;
    z-index: 0; }
    .banner--c--principal__figure--azul {
      top: 5%;
      right: -10%; }
    .banner--c--principal__figure--branca {
      top: 15%;
      left: 20%; }
    .banner--c--principal__figure--laranja {
      left: -10%;
      bottom: -10%; }

.banner--c--beneficios:nth-child(even) .banner--c--beneficios__content {
  flex-direction: row-reverse; }
  @media only screen and (max-width: 768px) {
    .banner--c--beneficios:nth-child(even) .banner--c--beneficios__content {
      flex-direction: column; } }

.banner--c--beneficios:nth-child(1) {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }

.banner--c--beneficios__container {
  background-color: #132048; }

.banner--c--beneficios__content {
  align-items: center;
  display: flex;
  gap: 8rem;
  height: 100%;
  justify-content: center;
  padding: 2rem 4rem;
  position: absolute;
  width: 100%;
  z-index: 2; }
  @media only screen and (max-width: 1280px) {
    .banner--c--beneficios__content {
      gap: 6rem; } }
  @media only screen and (max-width: 768px) {
    .banner--c--beneficios__content {
      justify-content: start;
      flex-direction: column;
      gap: 4rem;
      padding: 2rem; } }
  @media only screen and (max-width: 480px) {
    .banner--c--beneficios__content {
      gap: 2rem;
      padding: 1rem; } }
  .banner--c--beneficios__content__cartao {
    border-radius: 1rem;
    box-shadow: 0 0.25rem 1rem 0.25rem rgba(26, 26, 26, 0.32);
    transition: all 0.3s ease-in-out; }
    @media only screen and (max-width: 1280px) {
      .banner--c--beneficios__content__cartao {
        width: 16rem; } }
    @media only screen and (max-width: 768px) {
      .banner--c--beneficios__content__cartao {
        width: 12rem; } }
    .banner--c--beneficios__content__cartao:hover {
      transform: scale(1.1); }
  .banner--c--beneficios__content__texts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 40rem; }
    @media only screen and (max-width: 1280px) {
      .banner--c--beneficios__content__texts {
        gap: 1rem;
        max-width: 32rem; } }
    @media only screen and (max-width: 768px) {
      .banner--c--beneficios__content__texts {
        max-width: 100%; }
        .banner--c--beneficios__content__texts > h1 {
          text-align: center; } }
  .banner--c--beneficios__content ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 2rem; }
    .banner--c--beneficios__content ul > li {
      color: #f2f2f2;
      font-size: 1.25rem;
      font-weight: 500; }
      @media only screen and (max-width: 1280px) {
        .banner--c--beneficios__content ul > li {
          font-size: 1rem; } }

.banner--c--beneficios--azul {
  background-color: #132048; }

.banner--c--beneficios--laranja {
  background-color: #f47f39; }

.banner--c--beneficios:nth-child(odd) .banner--c--beneficios__figure {
  display: none; }

.banner--c--beneficios__figure {
  position: absolute; }
  .banner--c--beneficios__figure--azul {
    left: 5%;
    top: 5%; }
  .banner--c--beneficios__figure--branca {
    left: 40%;
    top: 50%; }
  .banner--c--beneficios__figure--laranja {
    right: 5%;
    top: 10%; }

.banner--c--app {
  background-color: #f47f39; }
  .banner--c--app__content {
    align-items: center;
    display: flex;
    gap: 8rem;
    height: 100%;
    justify-content: center;
    padding: 2rem; }
    @media only screen and (max-width: 1280px) {
      .banner--c--app__content {
        gap: 2rem; } }
    @media only screen and (max-width: 768px) {
      .banner--c--app__content {
        flex-direction: column; } }
    @media only screen and (max-width: 480px) {
      .banner--c--app__content {
        padding: 1rem; } }
    .banner--c--app__content__left__ilustracao {
      transform: rotate(10deg);
      width: 24rem; }
      @media only screen and (max-width: 1280px) {
        .banner--c--app__content__left__ilustracao {
          width: 16rem; } }
      @media only screen and (max-width: 768px) {
        .banner--c--app__content__left__ilustracao {
          width: 14rem; } }
    .banner--c--app__content__right {
      display: flex;
      flex-direction: column;
      gap: 4rem; }
      @media only screen and (max-width: 768px) {
        .banner--c--app__content__right {
          align-items: center;
          justify-content: center;
          gap: 2rem; } }
      .banner--c--app__content__right__texts {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 34rem;
        text-align: justify; }
        @media only screen and (max-width: 768px) {
          .banner--c--app__content__right__texts {
            max-width: 40rem;
            text-align: center;
            width: 100%; } }
        @media only screen and (max-width: 480px) {
          .banner--c--app__content__right__texts {
            max-width: 100%; } }
      .banner--c--app__content__right__buttons {
        display: flex;
        gap: 2rem; }
        @media only screen and (max-width: 480px) {
          .banner--c--app__content__right__buttons {
            gap: 1rem; } }

.banner--c--rede {
  background-color: #132048; }
  .banner--c--rede__content {
    align-items: center;
    display: flex;
    gap: 2rem 4rem;
    height: 100%;
    justify-content: center;
    padding: 2rem;
    position: absolute;
    width: 100%;
    z-index: 1; }
    @media only screen and (max-width: 1280px) {
      .banner--c--rede__content {
        gap: 2rem 3rem; } }
    @media only screen and (max-width: 768px) {
      .banner--c--rede__content {
        gap: 2rem;
        flex-direction: column; } }
    .banner--c--rede__content__ilustracao {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 28rem;
      justify-content: center;
      object-fit: contain; }
      @media only screen and (max-width: 1280px) {
        .banner--c--rede__content__ilustracao {
          height: 22rem; } }
      @media only screen and (max-width: 768px) {
        .banner--c--rede__content__ilustracao {
          height: 18rem; } }
    .banner--c--rede__content__texts {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      max-width: 32rem; }
      @media only screen and (max-width: 768px) {
        .banner--c--rede__content__texts {
          max-width: 100%;
          text-align: center; } }
      .banner--c--rede__content__texts > h2 {
        text-align: justify; }
        @media only screen and (max-width: 768px) {
          .banner--c--rede__content__texts > h2 {
            text-align: center; } }
    .banner--c--rede__content__button button {
      margin-top: 4rem;
      padding: 1rem 4rem; }
      @media only screen and (max-width: 1280px) {
        .banner--c--rede__content__button button {
          margin-top: 2rem;
          padding: 1rem 3rem; } }
      @media only screen and (max-width: 768px) {
        .banner--c--rede__content__button button {
          margin-top: 1rem; } }
  .banner--c--rede__figure {
    position: absolute;
    z-index: 0; }
    .banner--c--rede__figure--azul {
      top: 5%;
      right: -10%; }
    .banner--c--rede__figure--branca {
      top: 15%;
      left: 20%; }
    .banner--c--rede__figure--laranja {
      left: -10%;
      bottom: -10%; }

.banner--b--principal, .banner--b--novidade {
  background-color: #1cbcd9;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  position: relative;
  scroll-snap-align: center; }
  .banner--b--principal__logo, .banner--b--novidade__logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 4rem; }
    @media only screen and (max-width: 480px) {
      .banner--b--principal__logo, .banner--b--novidade__logo {
        margin-top: 2rem; } }
  .banner--b--principal__content, .banner--b--novidade__content {
    align-items: center;
    display: flex;
    gap: 6rem;
    justify-content: center;
    margin-top: 8rem;
    padding: 0 4rem;
    position: absolute;
    width: 100%;
    z-index: 1; }
    @media only screen and (max-width: 1280px) {
      .banner--b--principal__content, .banner--b--novidade__content {
        gap: 4rem;
        padding: 0 2rem; } }
    @media only screen and (max-width: 768px) {
      .banner--b--principal__content, .banner--b--novidade__content {
        flex-direction: column-reverse;
        gap: 2rem;
        margin-top: 4rem; } }
    @media only screen and (max-width: 480px) {
      .banner--b--principal__content, .banner--b--novidade__content {
        padding: 0 1rem; } }
    .banner--b--principal__content__texts, .banner--b--novidade__content__texts {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 28rem; }
      @media only screen and (max-width: 768px) {
        .banner--b--principal__content__texts, .banner--b--novidade__content__texts {
          max-width: 100%;
          text-align: center; } }
    .banner--b--principal__content__button, .banner--b--novidade__content__button {
      margin-top: 2rem; }
      @media only screen and (max-width: 480px) {
        .banner--b--principal__content__button, .banner--b--novidade__content__button {
          margin-top: 1rem; } }
    .banner--b--principal__content__ilustracao, .banner--b--novidade__content__ilustracao {
      border-radius: 50%;
      height: 24rem;
      object-fit: cover;
      outline: 0.125rem solid #f2f2f2;
      outline-offset: 2rem;
      width: 24rem;
      transition: all 0.3s ease-in-out; }
      .banner--b--principal__content__ilustracao:hover, .banner--b--novidade__content__ilustracao:hover {
        box-shadow: 0 1rem 1rem rgba(242, 242, 242, 0.32);
        outline-offset: 0.5rem;
        transform: scale(1.1); }
      @media only screen and (max-width: 1280px) {
        .banner--b--principal__content__ilustracao, .banner--b--novidade__content__ilustracao {
          height: 18rem;
          outline-offset: 1rem;
          width: 18rem; } }
      @media only screen and (max-width: 768px) {
        .banner--b--principal__content__ilustracao, .banner--b--novidade__content__ilustracao {
          height: 14rem;
          width: 14rem; } }
  .banner--b--principal__figure, .banner--b--novidade__figure {
    border: 0.125rem solid #f2f2f2;
    border-radius: 50%;
    position: absolute;
    height: 68rem;
    left: -5%;
    bottom: -30%;
    width: 68rem; }

.banner--b--conta-digital {
  align-items: center;
  background-color: #1cbcd9;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  padding: 4rem;
  position: relative;
  scroll-snap-align: center; }
  @media only screen and (max-width: 768px) {
    .banner--b--conta-digital {
      padding: 2rem; } }
  .banner--b--conta-digital__content {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 8rem; }
    @media only screen and (max-width: 1280px) {
      .banner--b--conta-digital__content {
        gap: 4rem; } }
    @media only screen and (max-width: 768px) {
      .banner--b--conta-digital__content {
        flex-direction: column; } }
    @media only screen and (max-width: 480px) {
      .banner--b--conta-digital__content {
        gap: 2rem; } }
    .banner--b--conta-digital__content__ilustracao {
      border-radius: 50%;
      height: 24rem;
      outline: 0.125rem solid #f2f2f2;
      outline-offset: 1.5rem;
      transition: all 0.3s ease-in-out;
      width: 24rem; }
      @media only screen and (max-width: 1280px) {
        .banner--b--conta-digital__content__ilustracao {
          height: 18rem;
          width: 18rem; } }
      @media only screen and (max-width: 768px) {
        .banner--b--conta-digital__content__ilustracao {
          height: 14rem;
          width: 14rem; } }
      @media only screen and (max-width: 480px) {
        .banner--b--conta-digital__content__ilustracao {
          height: 12rem;
          width: 12rem; } }
      .banner--b--conta-digital__content__ilustracao:hover {
        box-shadow: 0 1rem 1rem rgba(242, 242, 242, 0.32);
        outline-offset: 0.5rem;
        transform: scale(1.1); }
    .banner--b--conta-digital__content__texts {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 28rem; }
      @media only screen and (max-width: 768px) {
        .banner--b--conta-digital__content__texts {
          text-align: center;
          max-width: 100%; } }
    .banner--b--conta-digital__content__button {
      margin-top: 4rem; }
      @media only screen and (max-width: 768px) {
        .banner--b--conta-digital__content__button {
          margin-top: 2rem; } }
      @media only screen and (max-width: 480px) {
        .banner--b--conta-digital__content__button {
          margin-top: 1rem; } }

.banner--b--beneficios {
  background-color: #f2f2f2;
  padding: 4rem;
  scroll-snap-align: center; }
  @media only screen and (max-width: 1280px) {
    .banner--b--beneficios {
      padding: 3rem; } }
  @media only screen and (max-width: 768px) {
    .banner--b--beneficios {
      padding: 2rem; } }
  @media only screen and (max-width: 480px) {
    .banner--b--beneficios {
      padding: 1rem; } }
  .banner--b--beneficios__content {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    scroll-snap-align: center; }
    @media only screen and (max-width: 768px) {
      .banner--b--beneficios__content {
        gap: 6rem; } }
    @media only screen and (max-width: 480px) {
      .banner--b--beneficios__content {
        gap: 4rem; } }
    .banner--b--beneficios__content__card {
      align-items: center;
      background-color: #1cbcd9;
      border-radius: 1rem;
      display: flex;
      gap: 8rem;
      height: 32rem;
      justify-content: center;
      overflow: hidden;
      padding: 4rem;
      transition: all 0.3s ease-in-out; }
      @media only screen and (max-width: 1280px) {
        .banner--b--beneficios__content__card {
          gap: 4rem;
          height: 26rem;
          padding: 2rem; } }
      @media only screen and (max-width: 768px) {
        .banner--b--beneficios__content__card {
          height: 20rem; } }
      @media only screen and (max-width: 480px) {
        .banner--b--beneficios__content__card {
          height: 18rem; } }
      .banner--b--beneficios__content__card:hover {
        background-color: #21244d; }
      .banner--b--beneficios__content__card__ilustracao {
        border-radius: 50%;
        height: 16rem;
        object-fit: cover;
        outline: 0.125rem solid #f2f2f2;
        outline-offset: 1.5rem;
        transition: all 0.3s ease-in-out;
        width: 16rem; }
        @media only screen and (max-width: 1280px) {
          .banner--b--beneficios__content__card__ilustracao {
            height: 12rem;
            width: 12rem; } }
        @media only screen and (max-width: 768px) {
          .banner--b--beneficios__content__card__ilustracao {
            display: none; } }
        .banner--b--beneficios__content__card__ilustracao:hover {
          box-shadow: 0 1rem 1rem rgba(242, 242, 242, 0.32);
          outline-offset: 0.5rem;
          transform: scale(1.1); }
      .banner--b--beneficios__content__card__conteudo {
        background-color: #21244d;
        border-radius: 50%;
        color: #f2f2f2;
        font-size: 1.5rem;
        max-width: 36rem;
        padding: 4rem;
        transition: all 0.3s ease-in-out; }
        @media only screen and (max-width: 1280px) {
          .banner--b--beneficios__content__card__conteudo {
            font-size: 1.25rem;
            padding: 3rem; } }
        @media only screen and (max-width: 480px) {
          .banner--b--beneficios__content__card__conteudo {
            font-size: 1rem; } }
        .banner--b--beneficios__content__card__conteudo:hover {
          transform: scale(1.1); }
    .banner--b--beneficios__content__card:hover .banner--b--beneficios__content__card__conteudo {
      background-color: #1cbcd9; }
    .banner--b--beneficios__content__card:nth-child(odd) {
      flex-direction: row-reverse; }

.banner--b--emprestimo-consignado {
  background-color: #1cbcd9;
  height: 100vh;
  padding: 4rem;
  scroll-snap-align: center; }
  @media only screen and (max-width: 1280px) {
    .banner--b--emprestimo-consignado {
      padding: 2rem; } }
  .banner--b--emprestimo-consignado__content {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    gap: 8rem; }
    @media only screen and (max-width: 1280px) {
      .banner--b--emprestimo-consignado__content {
        gap: 3rem; } }
    @media only screen and (max-width: 768px) {
      .banner--b--emprestimo-consignado__content {
        flex-direction: column-reverse;
        gap: 2rem; } }
    .banner--b--emprestimo-consignado__content__ilustracao {
      width: 32rem; }
      @media only screen and (max-width: 1280px) {
        .banner--b--emprestimo-consignado__content__ilustracao {
          width: 24rem; } }
      @media only screen and (max-width: 768px) {
        .banner--b--emprestimo-consignado__content__ilustracao {
          width: 20rem; } }
      @media only screen and (max-width: 480px) {
        .banner--b--emprestimo-consignado__content__ilustracao {
          width: 16rem; } }
    .banner--b--emprestimo-consignado__content__texts {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 40rem; }
      @media only screen and (max-width: 1280px) {
        .banner--b--emprestimo-consignado__content__texts {
          gap: 1rem; } }
      @media only screen and (max-width: 768px) {
        .banner--b--emprestimo-consignado__content__texts {
          max-width: 100%;
          text-align: center; } }
    .banner--b--emprestimo-consignado__content__footer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 4rem; }
      @media only screen and (max-width: 1280px) {
        .banner--b--emprestimo-consignado__content__footer {
          margin-top: 2rem; } }
      @media only screen and (max-width: 768px) {
        .banner--b--emprestimo-consignado__content__footer {
          align-items: center; } }
    .banner--b--emprestimo-consignado__content__buttons {
      display: flex;
      gap: 2rem; }
      @media only screen and (max-width: 1280px) {
        .banner--b--emprestimo-consignado__content__buttons {
          gap: 1rem; } }

.button {
  appearance: none;
  border: 0.125rem solid transparent;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out; }
  .button--c--laranja {
    background-color: #f47f39;
    box-shadow: 0 0.25rem 1rem rgba(244, 127, 57, 0.24);
    color: #f2f2f2; }
    @media only screen and (max-width: 480px) {
      .button--c--laranja {
        font-size: 1rem; } }
    .button--c--laranja:hover:not(:focus) {
      background-color: #f1641e;
      border-color: #f47f39;
      box-shadow: 0 0.25rem 1rem rgba(244, 127, 57, 0.48);
      transform: scale(1.1) translateY(-0.5rem); }
    .button--c--laranja:focus {
      background-color: #e24a14;
      box-shadow: 0 0.25rem 1rem rgba(244, 127, 57, 0.32);
      transform: scale(1.1) translateY(-0.25rem); }
  .button--c--azul {
    background-color: #132048;
    box-shadow: 0 0.25rem 1rem rgba(19, 32, 72, 0.24);
    color: #f2f2f2;
    font-weight: 500; }
    @media only screen and (max-width: 768px) {
      .button--c--azul {
        font-size: 1rem; } }
    .button--c--azul:hover:not(:focus) {
      box-shadow: 0 0.25rem 1rem rgba(19, 32, 72, 0.48);
      transform: scale(1.1) translateY(-0.5rem); }
    .button--c--azul:focus {
      box-shadow: 0 0.25rem 1rem rgba(19, 32, 72, 0.32);
      transform: scale(1.1) translateY(-0.25rem); }
  .button--b--primary {
    animation: button-pulse 2s infinite;
    animation-delay: 2s;
    box-shadow: 0 0 0 2em transparent;
    background-color: #f2f2f2;
    box-shadow: 0 0.25rem 1rem rgba(242, 242, 242, 0.24);
    color: #1cbcd9; }
    @media only screen and (max-width: 480px) {
      .button--b--primary {
        font-size: 1rem; } }
    .button--b--primary:hover:not(:focus) {
      animation: none;
      box-shadow: 0 0.25rem 1rem rgba(242, 242, 242, 0.48);
      transform: scale(1.1) translateY(-0.5rem); }
    .button--b--primary:focus {
      animation: none;
      box-shadow: 0 0.25rem 1rem rgba(242, 242, 242, 0.32);
      transform: scale(1.1) translateY(-0.25rem); }

.logo {
  height: auto;
  width: 12rem; }
  @media only screen and (max-width: 768px) {
    .logo {
      width: 10rem; } }
  @media only screen and (max-width: 480px) {
    .logo {
      width: 8rem; } }

.figure {
  border-radius: 50%;
  content: ""; }
  .figure--azul {
    border: 0.125rem solid #457cbe;
    height: 60rem;
    width: 60rem; }
  .figure--branca {
    border: 0.125rem solid rgba(242, 242, 242, 0.64);
    height: 32rem;
    width: 32rem; }
  .figure--laranja {
    border: 0.125rem solid rgba(244, 127, 57, 0.8);
    height: 50rem;
    width: 50rem; }

.politica {
  scroll-snap-align: start;
  padding: 2rem 4rem; }
  @media only screen and (max-width: 768px) {
    .politica {
      padding: 2rem; } }
  @media only screen and (max-width: 480px) {
    .politica {
      padding: 1.5rem; } }
  .politica__logo {
    display: flex;
    justify-content: center; }
  .politica > article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem; }
    @media only screen and (max-width: 480px) {
      .politica > article {
        gap: 1rem; } }
    .politica > article > span {
      display: flex;
      flex-direction: column;
      gap: 0.5rem; }
      .politica > article > span > h1 {
        color: #1a1a1a;
        font-size: 1.25rem;
        font-weight: 800; }
        @media only screen and (max-width: 768px) {
          .politica > article > span > h1 {
            font-size: 1rem; } }
      .politica > article > span > p,
      .politica > article > span > ul > li {
        color: #6a6a6a;
        font-size: 1rem;
        font-weight: 500; }

.portais {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  height: 100vh;
  position: relative;
  scroll-snap-align: center; }
  @media only screen and (max-width: 768px) {
    .portais {
      padding: 0 2rem; } }
  @media only screen and (max-width: 480px) {
    .portais {
      padding: 0 1rem; } }
  .portais__content {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; }
    @media only screen and (max-width: 768px) {
      .portais__content {
        gap: 2rem; } }
    @media only screen and (max-width: 480px) {
      .portais__content {
        gap: 1rem; } }
  .portais__card {
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 1rem rgba(26, 26, 26, 0.24);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    padding: 2rem;
    transition: all 0.2s ease-in-out; }
    @media only screen and (max-width: 1280px) {
      .portais__card {
        gap: 1rem; } }
    @media only screen and (max-width: 768px) {
      .portais__card {
        padding: 1rem;
        gap: 0.5rem; } }
    @media only screen and (max-width: 480px) {
      .portais__card {
        align-items: start;
        width: 100%; }
        .portais__card:hover {
          transform: scale(1); } }
    .portais__card:hover {
      transform: scale(1.1); }
    .portais__card__header {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 2rem; }
      @media only screen and (max-width: 1280px) {
        .portais__card__header {
          gap: 1rem; } }
      @media only screen and (max-width: 768px) {
        .portais__card__header {
          flex-direction: row;
          gap: 0.5rem; } }
      .portais__card__header__cover {
        height: 4rem;
        width: 4rem; }
        @media only screen and (max-width: 768px) {
          .portais__card__header__cover {
            height: 3rem;
            width: 3rem; } }
        @media only screen and (max-width: 480px) {
          .portais__card__header__cover {
            height: 2rem;
            width: 2rem; } }
    .portais__card__descricao {
      max-width: 16rem;
      text-align: justify; }
      @media only screen and (max-width: 1280px) {
        .portais__card__descricao {
          max-width: 14rem; } }
      @media only screen and (max-width: 480px) {
        .portais__card__descricao {
          max-width: 100%; } }
    .portais__card__button {
      display: flex;
      justify-content: center;
      margin-top: 2rem; }
      @media only screen and (max-width: 1280px) {
        .portais__card__button {
          margin-top: 1rem; } }
      @media only screen and (max-width: 480px) {
        .portais__card__button {
          justify-content: end;
          margin-top: 0.5rem;
          width: 100%; } }

.footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 70vh;
  justify-content: end;
  scroll-snap-align: center; }
  @media only screen and (max-width: 768px) {
    .footer {
      gap: 2rem; } }
  @media only screen and (max-width: 480px) {
    .footer {
      gap: 1rem;
      height: 95vh; } }
  .footer__content {
    padding: 4rem; }
    @media only screen and (max-width: 1280px) {
      .footer__content {
        padding: 3rem; } }
    @media only screen and (max-width: 768px) {
      .footer__content {
        padding: 2rem; } }
    @media only screen and (max-width: 480px) {
      .footer__content {
        padding: 1rem 2rem; } }
    .footer__content__logo {
      display: inline-block;
      padding: 0 2rem 0.5rem 2rem; }
      @media only screen and (max-width: 480px) {
        .footer__content__logo {
          padding: 0;
          text-align: center;
          width: 100%; } }
    .footer__content__lists {
      display: flex;
      justify-content: space-around;
      gap: 2rem;
      margin-top: 4rem;
      flex-wrap: wrap; }
      @media only screen and (max-width: 480px) {
        .footer__content__lists {
          flex-direction: column;
          margin-top: 2rem; } }
    .footer__content__list {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
    .footer__content ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem; }
  .footer__banner {
    color: #f2f2f2;
    padding: 1rem;
    text-align: center; }
  .footer--c__banner {
    background-color: #132048; }
  .footer--c__logo {
    border-bottom: 0.25rem solid #132048; }
    @media only screen and (max-width: 480px) {
      .footer--c__logo {
        border-bottom: none; } }
  .footer--b__banner {
    background-color: #1cbcd9; }
  .footer--b__logo {
    border-bottom: 0.125rem solid #1cbcd9; }
    @media only screen and (max-width: 480px) {
      .footer--b__logo {
        border-bottom: none; } }

.main {
  display: flex;
  flex-direction: column;
  gap: 8rem; }
