.heading {
  &--primary {
    color: $color-white;
    font-size: 3.5rem;
    font-weight: 700;
  }

  &--secondary {
    color: $color-white;
    font-size: 1.25rem;
    font-weight: 500;
  }

  &--tertiary {
    font-size: 1.25rem;
    font-weight: 700;
  }

  &--quaternary {
    color: $color-c-primary-dark;
    font-size: 1.125rem;
    font-weight: 800;
  }
}

.text {
  &--cinza {
    color: $color-gray-600;
  }
}
